@import '../colors/colors.scss';

* {
  all: unset; //Unsets everything so you can style everything from scratch
}


//Global Styles
.bar0 {
  background-color: $foreground;
  color: #b0b4bc;
  padding: 0px;
  font-size: 1.2rem;
  font-family: "JetBrainsMono Nerd Font Mono", "Courier New", sans-serif ;
}

// Styles on classes (see eww.yuck for more information)

.right {
  padding-top: 0px;
  padding-bottom: 0px;  
  button:hover{
    color: $background;
    background-color: $color1;
  }
}
.right *{
  padding-left: 5px;
  padding-right: 5px;
}
.power, .network{
  font-size: 2.2rem;
}

.workspaces button:hover {
  background-color: $color1;
  color: $background;
}
.workspaces{
   font-size: 2.2rem;
}

.ws-button-mine {
  color: $foreground;
  background-color: $color4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ws-button-visible {
  color: $foreground;
  background-color: #4e4e4e;
}
.ws-button-busy {
  color: $color4;
}
.ws-button {
  color: #b0b4bc;
}

//Styling calendar
.cal-box{
  background-color: $foreground;
  font-family: "JetBrainsMono Nerd Font Mono", "Courier New", sans-serif ;
  font-size: 1.1rem;
  .cal{
    &.highlight{
      font-weight: 500;
      padding: 1rem;
    }
    padding: .6rem;
  }  
}
calendar:selected{
  border: $color1 solid 1px;
  color: $color1;
}
calendar{
  padding: 1rem;
  color: #b0b4bc;
}
