@import '../../colors/colors.scss';



*{
  all: unset;
}
.blur{
  background-color: $foreground;
}
.powerButtons{
  font-family: "JetBrainsMono Nerd Font Mono", "Courier New", sans-serif;
  color: #b0b4bc;
  button{
    font-size: 125px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    background-color: $foreground;
  }
  button:hover{
    color: $background
  }
}